<div class="mainClassScroll">
  <p class="text-red-600">THIS IS PLAYLIST</p>
  <p class="text-white">
    Your Library In this step, we will use the inheritance pattern. styles.text
    will be applied to all Text components. You can also notice how we set other
    styling properties to some parts of the text. It is important to know that
    all child elements have parent styles passed to them. Your Library In this
    step, we will use the inheritance pattern. styles.text will be applied to
    all Text components. You can also notice how we set other styling properties
    to some parts of the text. It is important to know that all child elements
    have parent styles passed to them. Your Library In this step, we will use
    the inheritance pattern. styles.text will be applied to all Text components.
    You can also notice how we set other styling properties to some parts of the
    text. It is important to know that all child elements have parent styles
    passed to them. Your Library In this step, we will use the inheritance
    pattern. styles.text will be applied to all Text components. You can also
    notice how we set other styling properties to some parts of the text. It is
    important to know that all child elements have parent styles passed to them.
    Your Library In this step, we will use the inheritance pattern. styles.text
    will be applied to all Text components. You can also notice how we set other
    styling properties to some parts of the text. It is important to know that
    all child elements have parent styles passed to them. Your Library In this
    step, we will use the inheritance pattern. styles.text will be applied to
    all Text components. You can also notice how we set other styling properties
    to some parts of the text. It is important to know that all child elements
    have parent styles passed to them. Your Library In this step, we will use
    the inheritance pattern. styles.text will be applied to all Text components.
    You can also notice how we set other styling properties to some parts of the
    text. It is important to know that all child elements have parent styles
    passed to them. Your Library In this step, we will use the inheritance
    pattern. styles.text will be applied to all Text components. You can also
    notice how we set other styling properties to some parts of the text. It is
    important to know that all child elements have parent styles passed to them.
    Your Library In this step, we will use the inheritance pattern. styles.text
    will be applied to all Text components. You can also notice how we set other
    styling properties to some parts of the text. It is important to know that
    all child elements have parent styles passed to them. Your Library In this
    step, we will use the inheritance pattern. styles.text will be applied to
    all Text components. You can also notice how we set other styling properties
    to some parts of the text. It is important to know that all child elements
    have parent styles passed to them. Your Library In this step, we will use
    the inheritance pattern. styles.text will be applied to all Text components.
    You can also notice how we set other styling properties to some parts of the
    text. It is important to know that all child elements have parent styles
    passed to them. Your Library In this step, we will use the inheritance
    pattern. styles.text will be applied to all Text components. You can also
    notice how we set other styling properties to some parts of the text. It is
    important to know that all child elements have parent styles passed to them.
    Your Library In this step, we will use the inheritance pattern. styles.text
    will be applied to all Text components. You can also notice how we set other
    styling properties to some parts of the text. It is important to know that
    all child elements have parent styles passed to them. Your Library In this
    step, we will use the inheritance pattern. styles.text will be applied to
    all Text components. You can also notice how we set other styling properties
    to some parts of the text. It is important to know that all child elements
    have parent styles passed to them.
  </p>
</div>
