<div class="w-[240px] bg-black h-screen pb-[90px] flex flex-col group">
  <div class="px-4 sticky top-0">
    <div class="pt-2">
      <mat-icon class="text-white scale-120 ml-1">more_horiz</mat-icon>
    </div>
    <div class="flex-row cursor-pointer">
      <p class="text-[#b2b2b1] hover:text-white text-sm font-bold">
        <mat-icon
          class="material-icons-outlined align-middle scale-125 mb-2 mt-1 mr-4 ml-1"
        >
          home_filled
        </mat-icon>
        Home
      </p>
    </div>
    <div class="flex-row cursor-pointer">
      <p class="text-[#b2b2b1] hover:text-white text-sm font-bold">
        <mat-icon class="align-middle scale-125 my-2 mr-4 ml-1">
          search
        </mat-icon>
        Search
      </p>
    </div>
    <div routerLink="library" class="flex-row cursor-pointer">
      <p class="text-[#b2b2b1] hover:text-white text-sm font-bold">
        <mat-icon
          class="material-icons-outlined align-middle scale-125 my-2 mr-4 ml-1"
        >
          library_books
        </mat-icon>
        Your Library
      </p>
    </div>

    <div class="mt-5 flex-row cursor-pointer">
      <div class="flex text-[#b2b2b1] hover:text-white text-sm font-bold">
        <div
          class="flex bg-[#b2b2b1] rounded-sm w-[26px] h-[26px] items-center justify-center my-2 mr-4 ml-1"
        >
          <mat-icon class="text-black scale-75 flex"> add </mat-icon>
        </div>
        <div class="flex items-center">Create Playlist</div>
      </div>
    </div>

    <div class="flex-row cursor-pointer">
      <div class="flex text-[#b2b2b1] hover:text-white text-sm font-bold">
        <div
          class="flex bg-[#8179e0] rounded-sm w-[26px] h-[26px] items-center justify-center my-2 mr-4 ml-1"
        >
          <mat-icon class="text-[#b2b2b1] scale-75 flex"> favorite </mat-icon>
        </div>
        <div class="flex items-center">Liked Songs</div>
      </div>
    </div>
  </div>

  <hr class="mx-5 mt-3 h-px border-1 border-[#282828] flex-1" />

  <div
    class="px-5 py-3 overflow-y-auto scrollbar group-hover:scrollbar-thumb-[#808080] group-hover:scrollbar-track-transparent"
  >
    <p
      routerLink="playlist"
      class="text-[#b2b2b1] line-clamp-1 cursor-default hover:text-white text-sm font-bold py-2"
    >
      TUSEK
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      DYENBY
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      TATATA
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      SHOOP
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default truncate hover:text-white text-sm font-bold py-2"
    >
      CHICOS PLAYLIST IN CAPITAL LETTERS
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      KRIOKA
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MELODIC
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      DRILLITY DRILL
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      SKOL
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MGNTA
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MELLY
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      SKOL
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MGNTA
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MELLY
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      SKOL
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MGNTA
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MELLY
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      SKOL
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MGNTA
    </p>

    <p
      routerLink="playlist"
      class="text-[#b2b2b1] cursor-default hover:text-white text-sm font-bold py-2"
    >
      MELLY
    </p>
  </div>
</div>
